@import url('https://fonts.googleapis.com/css2?family=Julee&family=Karla:wght@400;700&family=Solway&display=swap');

:root{
    --title-font: "Julee";
    --dark-color: #455954;
    --content-font:"Karla";
    --content-font2: "Solway";
    --content-color: #565c5e;
    --light-color: #dfdbd8;

    --content-margin: 5rem;
    --menu-padding: 3rem;
    --title-fontsize: 5rem;
    --story-fontsize: 1rem;
    --li-fontsize: 1rem;
    --icon-height-width: 5rem;
}

*{
    font-family: var(--content-font);
    color: var(--content-color);
}

html{
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

body{
    height: 100%;
    margin: 0;
    background-color: #dfdbd8;
}

#logo{
    border-radius: 50%;
    width: 8rem;
    position: absolute;
    top: .5rem;
    left: 4rem;
}

#title, .page-title{
    font-family: var(--title-font);
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 4rem;
    font-size: var(--title-fontsize);
}

.home-container{
    margin: 0 var(--content-margin) var(--content-margin) var(--content-margin);
}

.story-container{
    text-align: center;
    font-size: var(--story-fontsize);
}

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mini-container{
    margin: 2rem;
}

nav{
    background-color: var(--dark-color);
    padding: .25rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.nav-link{
    font-size: var(--li-fontsize);
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;
    color: var(--light-color);
}

.icon{
    height: var(--icon-height-width);
    width: var(--icon-height-width);
    border-radius: 50%;
}

#menu, #locations, #contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;
}

.menu-items{
    background-color: white;
    border-radius: 20px;
    margin: var(--content-margin);
    margin-top: 2rem;
    padding: var(--menu-padding);
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.menu-title{
    font-size: 1.25rem;
    font-weight: bolder;
}

.drinks-menu, .toppings-menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1rem;
    padding-left: 1.5rem;
}

.drinks, .toppings{
    font-weight: bold;
    margin: .15rem;
}

#mail.icon{
    margin: 1rem;
}

/* @media(min-width: 426px){
    #title, .page-title{
        font-size: 5rem;
    }

    .story-container{
        font-size: 1rem;
    }

    li{
        font-size: 1rem;
    }

    .icon{
        height: 5rem;
        width: 5rem; 
    }
} */